<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <%- include('partials/navigation') %>
        <main class="container vh-100 pt-2 text-center d-flex justify-content-center align-items-center">
            <section>
                <h1 class="display-1">About</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur rem animi nesciunt voluptate
                    error enim aliquam porro deserunt a? Quas nobis pariatur perferendis quis provident quam illum vitae
                    atque, ad, veniam odit laboriosam magni aliquam, suscipit autem? Quibusdam quod, voluptatibus beatae
                    odit, tempora unde aliquam, necessitatibus optio veniam similique non voluptate. Illum, expedita.
                    Eius veniam, commodi, nihil accusantium libero possimus quos provident quis voluptatibus, molestiae
                    tempore. Blanditiis, aliquam quibusdam accusamus modi incidunt adipisci sapiente aperiam numquam
                    alias est eius nisi fugit molestias nobis. Ipsum doloremque optio sapiente vero ullam consequuntur,
                    ipsa quae fuga labore. Necessitatibus optio eos assumenda cum perferendis mollitia sunt. Accusantium
                    iure nemo ex distinctio tempora at quidem eius facere suscipit, aut magni ut sunt quo dolore unde
                    iste placeat repellendus qui a nam officiis debitis labore fugiat molestias! Cum ut optio, nam
                    laboriosam ullam deserunt nesciunt eaque suscipit blanditiis est rerum autem repudiandae dicta quos
                    labore quam qui facilis cupiditate quaerat sapiente dignissimos eum mollitia. Facere architecto
                    sapiente dolorem molestiae aliquam. Laboriosam voluptates sequi quidem fugiat quod nulla esse ipsa
                    in cumque maxime tempora repudiandae, ipsum maiores ut doloribus aspernatur ducimus sunt asperiores
                    veniam ipsam assumenda praesentium explicabo nemo. Sapiente voluptatum itaque minus et doloribus
                    nulla minima.</p>
            </section>
        </main>
        <%- include('partials/footer') %>
</body>

</html>